.about-container * {
  text-decoration: none;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.about-container {
  width: 100%;
  height: 100%;
  margin-bottom: 1.5vw;
  padding-top: 30px;
  overflow: hidden;
}

.background{
 background-color: beige;
 background-image: url(/src/assets/images/bg2.jpg);
 transition: all 0.3s;
 transform: translateY(2px);
 margin: auto;
 padding: 30px;
 width:92% !important;
 border-radius: 5px;
}

.about-container hr{
  border: 0;
  height: 1px;
  width:50%;
  margin: auto;
  margin-bottom: 30px;
  background: #72857c88;
  border-radius: 5px;
}
.desc{
  font-size: 26px;
  text-align: center;
  color: grey;
}
.about-container > .contributor-text {
  text-transform: capitalize;
  font-size: 40px;
  color: #008080;
  font-weight: 500;
  margin-bottom: 30px;
}


@media (max-width: 586px) {
  .about-container {
    width: 100%;
    height: 100%;
    padding: 5vw;
  }

  .about-container > .contributor-text {
    text-align: center;
    justify-content: center;
    margin: auto;
  }

}

@media (min-width: 600px) {
  .about-container {
    width: 100%;
    height: 50%;
    padding: 5vw;
  }

  .about-container > .contributor-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }

}

@media (min-width: 600px) and (max-width: 1024px) {
  .about-container {
    width: 100%;
    height: 100%;
    padding: 3vw;
    margin-top: 3.5vw;
  }

  .about-container > .contributor-text {
    font-size: 40px;
  }

}
