* {
  text-decoration: none;
  list-style: none;
}

.container {
  margin: 1vw;
}

.container-grid {
  padding-top: 1vw;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: scroll;
  scrollbar-width: none;
}

.contributor-text {
  text-transform: capitalize;
  font-size: 1vw;
  color: #008080;
  font-weight: 500;
}

.text-color {
  font-size: 1.2vw;
  color: #008080;
}

.img {
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  gap: 10px;
  width: 300px;
  border-radius: 2px;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 586px) {
  .container {
    width: 100vw;
    height: 50%;
    padding: 8vw;
  }

  .contributor-text {
    text-transform: capitalize;
    font-size: 6vw;
    color: #008080;
  }

  .text-color {
    font-size: 1.5vw;
    color: #008080;
  }

  .card {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 600px) {
  .container {
    width: 100vw;
    height: 50%;
    padding: 8vw;
  }

  .contributor-text {
    text-transform: capitalize;
    font-size: 4vw;
    color: #008080;
  }
  
  .text-color{
    font-size: 1.7vw;
    color:#008080;
  }

  .card {
    width: 300px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    width: 100vw;
    height: 50%;
    padding: 3vw;
  }

  .contributor-text {
    text-transform: capitalize;
    font-size: 3vw;
    color: #008080;
  }
  .contributor-text {
    font-size: 2.4vw;
  }
  
  .text-color{
    font-size: 1.7vw;
    color:#008080;
  }

  .card {
    width: 300px;
  }
}
