* {
  text-decoration: none;
  list-style: none;
}

.about-container{
  width: 100vw;
  height: 50%;
  margin-top: 2vw;
  margin-left: 2vw;
  margin-bottom: 2vw;
  padding-top: 2vw;
  overflow: scroll;
  scrollbar-width: none;
}

.container-grid {
  padding-top: 1vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.contributor-text {
  text-transform: capitalize;
  font-size: 1vw;
  color: #008080;
  font-weight: 500;
}

.text-color {
  font-size: 1.2vw;
  color: #008080;
}

.img {
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  gap: 10px;
  width: 300px;
  border-radius: 2px;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 586px) {
  .about-container {
    width: 100%;
    height: 80%;
    padding: 5vw;
  }

  .contributor-text {
    text-transform: capitalize;
    font-size: 6vw;
    color: #008080;
  }
  .img {
    width: 100px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-color {
    font-size: 2.5vw;
  }

  .card {
    width: 300px;
    height: 350px;
  }
}
@media (min-width: 600px) {
  .about-container {
    width: 100%;
    height: 50%;
    padding: 5vw;
    margin-top: 5vw;
  }

  .contributor-text {
    text-transform: capitalize;
    font-size: 4vw;
    color: #008080;
  }
  
  .text-color{
    font-size: 1.7vw;
    color:#008080;
  }

  .card {
    width: 300px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .about-container {
    width: 100%;
    height: 50%;
    padding: 3vw;
    margin-top: 3.5vw;
  }

  .contributor-text {
    text-transform: capitalize;
    font-size: 3vw;
    color: #008080;
  }
  .contributor-text {
    font-size: 2.4vw;
  }
  
  .text-color{
    font-size: 1.7vw;
    color:#008080;
  }

  .card {
    width: 300px;
  }
}
