
.container {
  margin: 20px;

  padding: 10px 20px;

  padding: 20px;

  display: inline;
}

.heading {

  margin: 10px;}

.faq-container {
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.faq-heading {

  margin: 20px;

  text-align: center;
}

.faq-item {
  margin-bottom: 10px;
  width: 100%;
  max-width: 800px;
}

.faq-question {
  background-color: #78ecb4;
  color : rgb(3, 66, 3);
  font-weight: 600;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 15px;
  width: 100%;
  text-align: left;
  font-size: 1.05em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

svg {
  display: inline-flex;
}

.faq-question:hover {
  background-color:rgb(3, 66, 3);
  color: white;
}

.faq-answer {
  padding: 15px;
  margin: 10px 0;
  background-color: #e0ffe0;
  border-radius: 5px;
  width: 100%;
  max-width: 800px;
  font-size: 1em;
}
