.cardwidth{
    width: 50%;
    height: auto;
}

.negmargin{
    margin-top: -30%;
}

.profileImageP{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.imgbackground{
    height: 400px;
    width: 100vw;
    opacity: 0.2;
    filter: blur(3px);
}

@media only screen and (max-width: 600px) {
    negmargin{
        margin-top: -60%;
        position: relative;
    }
}



