.cardwidth {
  width: 75%;
  height: auto;
}

.negmargin {
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.profileImageP {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.imgbackground {
  height: 600px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(2px);
}
