
* {
  box-sizing: border-box;
}
.loginWrapper {
  padding: 75px 0px;
  background: #f1f1f1;
  height: auto;
}
.btn :hover{
  color: white ;
}
.loginWrapper .card {
  width: 650px;
  margin: auto;
  padding: 40px;
  border: 0px !important;
  height: auto;
}
.loginWrapper .card h3 {
  font-weight: 500;
  font-size: 35px;
}
.loginWrapper .card input {
  height: 40px !important;
  font-size: 18px !important;
  color: #000 !important;
}
.loginWrapper .card fieldset {
  border-radius: 10px !important;
}
form{
  height: auto !important;
}
.form-group span{
  font-size: 1rem !important;
}
.loginWrapper .card button{
  padding-left: 0px !important;
}
#email{
  font-size: xx-large;
}
.h-size{
  font-size: 4rem !important;
  color: #3bb77e;
}
.card{
  border-radius: 25px !important;
}
.loginWrapper .card .MuiFormLabel-root {
  line-height: 43px !important;
  color: #000 !important;
  font-size: 18px !important;
}

.loginWrapper .card .icon {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 100;
  min-width: 50px !important;
  height: 50px !important;
  width: 50px !important;
  color: #ccc !important;
  border-radius: 100% !important;
}
.loginWrapper .card .icon svg {
  color: #000 !important;
  opacity: 0.8;
}

.loginWrapper .card button {
  padding: 15px 25px !important;
}
.signInOr button {
  padding: 15px 25px !important;
  color: #000 !important;
  font-size: 18px !important;
}
.signInOr button:hover{
  color: white !important;
}
.signInOr button img {
  width: 40px;
  margin-right: 15px;
  
}
.loginWrapper{
  height: 1000px;
}
.formLoader {
  position: absolute !important;
  background: rgba(255, 255, 255, 0.5) !important;
}

@media (max-width: 586px) {
  .loginWrapper {
    padding: 75px 0px;
    background: #f1f1f1;
    height: auto;
  }
  .loginWrapper .card {
    width: 650px;
    margin: auto;
    height: auto;
    padding: 40px;
    border: 0px !important;
    height: auto;
  }
}
.animator{
  animation: animate forwards 1s !important;
 
}
@keyframes animate {
  from{
    opacity: 0;
    position: relative;
    top: 200px;
  }to{
    top: 0px;
    opacity: 1;
  }
}
