.go-to-top {
  position: fixed;
  bottom: 4px;
  right: 64px;
  z-index: 1000;
}

.go-to-top-button {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: #28a745;;
  border: none;
  color: white;
  padding: 10px;
  height: 70px;
  width: 70px;
  border-radius: 50%; 
  cursor: pointer;
  font-size: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s, visibility 0.3s;
}

.go-to-top-button:hover {
  background-color: #03361e;;

}
