.footerWrapper {
  padding: 45px 0px;
  width: 100%;
  background-color: #3bb77e;
}

.footer-grid{
  display: grid ;
  grid-template-columns:repeat(3,1fr);
}
.footer-grid h3{
  font-size: 22px !important;
}
.footer-grid li a{
  font-weight: 700;
  font-size: 20px;
}

.footerWrapper .footerBoxes .box {
  background: #f4f6fa;
  padding: 25px 25px;
  border-radius: 15px;
  width: 230px;
  height: 200px;
}
.footer-box:hover {
  transform: scale(1);
  box-shadow: 56px var(#000);
  color: black;
  font-weight: bold;
}

.footerWrapper .footerBoxes .box .info {
  padding-left: 25px;
}

.footerWrapper .footerBoxes .box img {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.footerWrapper .footerBoxes .box .info h4 {
  font-size: 25px;
  font-weight: 600;
}
.footerWrapper .footerBoxes .box .info h4 :hover {
  font-size: 30px;
  font-weight: bolder;
}
.footerWrapper .footerBoxes .box .info p {
  margin-bottom: 0px;
  font-size: 20px;
  opacity: 0.8;
}
.footerWrapper .footerBoxes .box .info p :hover {
  font-size: 30px;
  font-weight: 900;
}
.footerWrapper .footerBoxes .box:hover img {
  transform: translateY(-5px);
}
.footerWrapper .footerBoxes .box:hover {
  transform: scale(0.9);
  transition-duration: 1s;
}

footer p,
footer a {
  font-size: 18px;
}

footer {
  width: 100%;
  padding: 60px 40px;
  padding-bottom: 0px;
}

footer .part1 svg {
  color: #ffffff !important;
}
footer .part1 {
  padding-left: 50px;
}
footer .part1 h4 {
  font-size: 40px;
}
footer .part1 h6 {
  font-size: 25px;
}
footer .part1 h6:hover {
  padding-left: 5px;
}

footer h3 {
  color: whitesmoke;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 50px;
}

footer h3:hover {
  color: #087066;
  text-shadow:
    0 0 10px #2ed688,
    0 0 20px #3bb77e,
    0 0 40px #fff,
    0 0 80px #fff;
  padding-left: 5px;
  transition: all 0.2s ease-in-out;
  text-decoration: solid;
}

footer .part2 {
  display: flex;
  justify-content: space-evenly;
}

footer .part2 ul li {
  list-style: none;
  margin-bottom: 13px;
}

footer .part2 ul li a {
  color: #000;
  opacity: 0.8;
  font-size: 500;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

footer .part2 ul li a:hover {
  color: whitesmoke !important;
  opacity: 1;
  padding-left: 5px;
  text-decoration: underline;
  text-shadow:
    0 0 10px #3bb77e,
    0 0 20px #3bb77e,
    0 0 40px #fff,
    0 0 80px #fff;
}

footer .lastStrip {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  color: #000;
}

.phNo svg {
  font-size: 45px !important;
  opacity: 0.8;
}
.follow {
  display: flex;
}
.phNo h3 {
  font-size: 32px;
  line-height: 35px !important;
  color: #f4f6fa;
}

.phNo p {
  font-size: 16px !important;
  opacity: 0.8;
  color: #000;
}

footer .lastStrip .part3 h5 {
  margin-bottom: 0px;
}

footer .lastStrip .part3 ul {
  margin-bottom: 0px;
  padding-left: 8px;
  display: flex;
  justify-content: space-around;
}
footer .lastStrip .part_1 h6 {
  font-size: 25px;
}
footer .part3 {
  padding-right: 50px;
}
footer .lastStrip .part3 .part_3 h4 {
  font-size: 25px;
}
footer .lastStrip .part3 ul li a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  background: #3bb77e;
  border-radius: 50%;
  transition: all 0.2s ease-in-out !important;
}

footer .lastStrip .part3 ul li a svg {
  color: #fff !important;
}

footer .lastStrip .part3 ul li a:hover {
  background: rgb(51, 51, 51);
  transform: scale(1.1);
}
footer .part3 h6:hover {
  font-weight: bold;
}
.mail-tel {
  cursor: pointer;
}

footer .part_2 {
  justify-self: center;
}
@media (min-width: 700px) and (max-width: 1200px) {
  footer .lastStrip .part_2 .part_3 .list {
    display: flex;
    flex-wrap: wrap;
  }
  
}
@media only screen and (min-width: 320px) and (max-width: 992px) {

 .phNo h3 {
    font-size: 20px; 
}
footer .part2 h3{
  font-size: 20px; 
}
footer .part2 ul li a {
  font-size: 10px !important ;
}
}.scroll-down-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3bb77e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999; 
}
.scroll-down-btn:hover {
  background-color: #2e8b57; 

  .phNo h3 {
    font-size: 20px;
  }
  footer .part2 h3 {
    font-size: 20px;
  }
  footer .part2 ul li a {
    font-size: 18px !important ;
  }

}


@media (max-width:480px) {
  .footer-grid{
    grid-template-columns: 1fr 1fr;
  }
}
footer .part1 h5{
  /* background: #000; */
}

