/* scrollbar.css */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c9ffd0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3bb77e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #28a745;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

