/* scrollbar.css */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e4b16;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}
