/* Main container for the deal */
.deal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

/* Card container */
.deal-container .deal-card {
  width: 50%;
  height: 60%;
  display: flex;
  align-items: center;
  gap: 3%;
  background-color: white;
  border-radius: 1em;
}

/* Image container */
.deal-container .deal-card .image-container {
  width: 50%;
  height: 100%;
}

.deal-container .deal-card .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 1em 0 0 1em;
}

/* Text container */
.deal-container .deal-card .text-container {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 4%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Deal heading */
.deal-container .deal-card .text-container .deal-heading {
  display: flex;
  color: rgb(59, 183, 126);
}

.deal-container .deal-card .text-container .deal-heading h1 {
  font-size: 3em;
  font-weight: 600;
}

.deal-container .deal-card .text-container .offer-details {
  width: 80%;
}

.deal-container .deal-card .text-container .offer-details h1 {
  font-size: 2em;
  font-weight: 600;
}

.deal-container .deal-card .text-container .offer-details span {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(59, 183, 126);
}

.deal-container .deal-card .text-container .shop-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deal-container .deal-card .text-container .shop-buttons button {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 3%;
}

.deal-container .deal-card .text-container .shop-buttons .view-product {
  color: white;
  border: none;
  background-color: rgb(59, 183, 126);
}

.deal-container .deal-card .text-container .shop-buttons .close {
  background-color: white;
  border: 1px solid rgb(59, 183, 126);
}

.deal-container .deal-card .text-container .shop-buttons img {
  width: 30px;
  height: 25px;
}
